body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: .7em;
    margin: 0;
    padding: 0;
    background: #fefefe;
}

a { 
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: #eaff8f;
}

img {
    opacity:0;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s;
    transition: opacity 1s;
}​


#page_div {
    background: white;
    border: 1px dashed #efefef;
}

#my_menu {
    float: left;
    width: 120px;
    padding: 0 10px 2px 3px;
    margin: 20px 0 0 20px;
    background: #fff;
    /*border-left: 2px solid #7f7f7f;*/
}

#project {
    position: relative;
    float: left;
    padding: 0px 50px 50px 23px;
    margin: 20px 0 0 20px;
    background: #ffffff;
    width: 600px;
    height: auto;
    /*border-top: 5px solid #999;
    border-bottom: 5px solid #999;*/
}

#my_menu li {
    list-style:none;
}

#my_menu li:hover {
    cursor: pointer;
    color: #404040;
    background: #fafafa;
}


.scrollup{
    width:40px;
    height:40px;            
    text-indent:-9999px;
    opacity:0.3;
    position:fixed;
    bottom:220px;
    left:90px;
    display:none;           
    background: url('icon_top.png') no-repeat;
}

#theme_footer {
    overflow:hidden;
    margin: 0 auto;
    position: fixed;
    bottom: 1em;
    background: white;
    /*opacity: .89;*/
    /*border: 1px solid black;*/
    width: auto;
    border-top: 34px solid white;
    border-bottom: 4px solid white;
}

#theme_switch {
    padding: 0;
    margin: 0 0 0 23px;
    position: relative;
    cursor: pointer;
    color: black;
}

#theme_options {
    padding: 0;
    margin: 0;
    color: black;
    display: none;
}

#theme_closer {
    padding:0;
    margin: 0 23px 0 0;
    display: none;
    cursor: pointer;
}

#aware_color {
    color: red;
    /*font-weight: bold;*/
}